<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Create your account here!</h1>
                       
        <form action="#" th:action="@{/accountCreation}" th:object="${user}" onsubmit="return validateUserForm()" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input name="email" id="email1" type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Age Error</td>
                </tr>
                <tr>
                    <td>Confirm Email:</td>
                    <td><input name="confirmEmail" id="email2" type="text" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input name="password" id="pwrd1" type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Age Error</td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input name="confirmPassword" id="pwrd2" type="password" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
            <script type="text/javascript">
            	function validateUserForm(){
            		var status = true;
            		status = validateEmail();
            		status = validatePwrd();
            		return status;
            	}
	            function validateEmail() {
	                var email1 = document.getElementById("email1").value;
	                var email2 = document.getElementById("email2").value;
	                var ok = true;
	             	
	                if(!email1 || !email2){
	                	alert("The email field is required!\n");
	                	ok = false;
	                } else {
	                	if (email1 != email2) {
		                    alert("The emails provided do not match!\n");
		                    document.getElementById("email1").style.borderColor = "#E34234";
		                    document.getElementById("email2").style.borderColor = "#E34234";
		                    ok = false;
		                }
	                }
	                return ok;
	            }
	            function validatePwrd() {
	                var pwrd1 = document.getElementById("pwrd1").value;
	                var pwrd2 = document.getElementById("pwrd2").value;
	                var ok = true;
	                
	                if(!pwrd1 || !pwrd2){
	                	alert("The password field is required!\n");
	                	ok = false;
	                } else {
	                	if (pwrd1 != pwrd2) {
		                    alert("The password provided do not match!\n");
		                    document.getElementById("pwrd1").style.borderColor = "#E34234";
		                    document.getElementById("pwrd2").style.borderColor = "#E34234";
		                    ok = false;
		                }
	                }
	                return ok;
	            }
            </script>
        </form>
    </body>
</html>