<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Request an Invite to feargus.org</title>
    </head>
    <body>
       <p>Thanks for requesting an invite! You're request is currently being reviewed. If your request is confirmed,
       		you will receive an email with a link to confirm your membership. That link will expire in 24hrs. Thanks
       		again!</p>
        
    </body>
</html>