<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Request an Invite to feargus.org</title>
    </head>
    <body>
       <h1 th:text="'Please fill in your email address to request an invite for: '+${requestedProj}"></h1>
        
       <form action="#" th:action="@{/requestInvite(projectNameHere=${requestedProj})}" th:object="${requestInvite}" method="post">
        	<p>Email: <input type="text" th:field="*{userEmail}" required="required" /></p>
        	<p><input type="submit" value="Submit Invite Request" /></p>
   		</form> 
        
    </body>
</html>